@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
  background-color: white;
  color: black;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1140px;
}
